body {
	background-image: url("images/BackgroundTest.jpg");
	background-attachment: fixed;
	margin: 0px;
	font-family: "PT Sans", sans-serif;
}

a:hover {
	color: red;
	cursor:pointer;		
}

.header {
	width:100%;
	height:82px;
	background-image: url("BackgroundS.jpg");
	background-position: 50% 80%;
}

.header_left {
	margin-left: 5%;
	float: left;
	width: 68%;
	height: 80px;
	text-align: left;
}

.header_right {
	padding-top: 10px;
	margin-right: 40px;
	float: right;
	width: 20%;
	height: 70px;
	color: black;
	text-align: right;
}

.menu {
  background-image: url("BackgroundS.jpg");
  background-position: 50% 84%;
  height: 45px;
  width: 100%;
}

.first_button {
	margin-left: 5%;
}

.menu_button {
  background-color: white;
  border-bottom: 1px solid lightgray;
  border-radius: 12px;
  float:left;
  width: 14%;
  height: 45px;
  color: black;
  border-right: 1px solid lightgray;
  text-align:center;
  padding-top: 14px;
  margin-right:1%;
  font-size: 18px;
}

.menu_button:hover {
	color: green;
	border-top: 4px solid green;
}

.footer {
	width: 100%;
	height: 100px;
	background-image: url(../images/footer_background.png);
	background-position: 0% 0%;
	font-weight: bold;
	font-size: 16px;
}

.footer_left {
	color: #333333;
	float: left;
	width: 50%;
	text-align: left;
}

.footer_right {
	color: #333333;
	float: right;
	width: 20%;
	text-align: right;
}
