body {
	background-image: url("BackgroundS.jpg");
	background-attachment: fixed;
	margin: 0px;
	font-family: "PT Sans", sans-serif;
}

a:hover {
	color: red;
	cursor:pointer;		
}

.header {
	width:100%;
	height:82px;
	background-image: url("BackgroundS.jpg");
	background-position: 50% 80%;
}

.header_left {
	margin-left: 5%;
	float: left;
	width: 68%;
	height: 80px;
	text-align: left;
}

.header_right {
	padding-top: 10px;
	margin-right: 40px;
	float: right;
	width: 20%;
	height: 70px;
	color: black;
	text-align: right;
}

.menu {
  background-image: url("BackgroundS.jpg");
  background-position: 50% 84%;
  height: 45px;
  width: 100%;
}

.first_button {
	margin-left: 5%;
}

.menu_button {
  background-color: white;
  border-bottom: 1px solid lightgray;
  border-radius: 12px;
  float:left;
  width: 14%;
  height: 45px;
  color: black;
  border-right: 1px solid lightgray;
  text-align:center;
  padding-top: 14px;
  margin-right:1%;
  font-size: 18px;
}

.menu_button:hover {
	color: green;
	border-top: 4px solid green;
}
/*--------------------------ОБЩЕЕ----------------------*/

.photo_block {
  background-image: url(images/new_background.jpg);
  width: 100%;
  height: 400px;
}

.helper_div {
  position:absolute;
  right: 10%;
  float: right;
  width: 35%;
  height:398px;
  /*padding-right: 10%;*/
}

.new_me {
  float:bottom;
  width:270px;
}

.quote {
  position:absolute;
  font-family: Book Antiqua;
  font-size: 26px;
  font-weight: bold;
  font-style: italic;
  color: white;
  float:left;
  padding-left: 18%;
  text-align:left;
  padding-top: 100px;
}

.main {
	width: 75%; 
	padding: 2%; 
	margin-left: 10%; 
	margin-top: 3%;
	margin-bottom: 4%;
	box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
	background-color: white;
}
