.new_me {
  position:absolute;
	float:left;
  left: 50%;
  top: 250px;
  /*float:bottom;*/
  width:400px;
}

.quote {
  position:absolute;
  font-family: Book Antiqua;
  font-size: 26px;
  font-weight: bold;
  font-style: italic;
  color: white;
  float:left;
  padding-left: 18%;
  text-align:left;
  padding-top: 100px;
}

.design_1 {
	width: 96%;
	border: 1px solid lightgray;
}

.img_design {
	width:20%;
	margin-left:5%;
	margin-top: 40px;
}
	
